.navkamain{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  justify-content: space-between;
  
    
  
  

}
.navh1{
  padding-left: 12px;
}
.navkamain ul{
  
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  list-style: none;
  padding: 20px;
}
.mainb{
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(27, 34, 34);
}

.footer{
  height: 15vh;
  width: 100%;
  align-items: center;
  text-align: center;
  
  display: flex;
  justify-content: center;
  background: rgb(1, 7, 14);
}
.footer h1{
  background-color: rgb(1, 14, 14);
}
#ii{
  height: 10vh;
}