/* Navigation Bar */
.nav {
  width: 100%;
  height: 14vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav * {
  background-color: black;
  color: white;
}

.nav h2 {
  padding-left: 18px;
}

/* Navigation Menu */
.nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

/* Links */
.nav ul a {
  text-decoration: none;
  color: white;
}

/* Menu Items */
.nav ul li {
  background-color: black;
  color: white;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Active Link */
.nav ul a.active {
  color: #FFD700 !important; /* Bright yellow for active link */
}

/* Footer */
.footer {
  width: 100%;
  height: 10vh;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Page Sections */
.home, .about {
  width: 100%;
  height: 76vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Background Colors */
.home { background-color: #4A90E2; } /* Light blue */
.about { background-color: #5E2A84; } /* Deep purple */
.contact { background-color: #1E606E; } /* Dark teal */

/* Contact Section */
.contact {
  width: 100%;
  height: 76vh;
  color: white;
  display: flex;
  align-items: center;
  
  justify-content: center;
  text-align: center;
  flex-direction: column;
  
}

.contactadd {
  width: 100%;
  height: 36vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(78, 82, 82);
}

.contactnav {
  width: 100%;
  height: 10vh;
  background-color: rgb(9, 51, 51);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.contactno1 {
  width: 100%;
  height: 30vh;
  
  background-color: #3d3818;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contactno2 {
  width: 90vw;
  height: 100%;
  background-color: #3d3818;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.contactnav  a {
  text-decoration: none;
  color: white;
}

/* Menu Items */
.contactnav  li {
  background-color: black;
  color: white;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}
